.relative{
	position: relative;
}
.bg{
	width: 1200px;
	height: 500px;
	background-color: blue;
	border-left: 5px solid black;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	margin-top: 50px;
	margin-left: 100px;
	position: absolute;
}
img{
	width: 250px;
	position: absolute;
	transition: all 0.3s ease 0.3s;
	animation-name: fish;
	animation-duration: 5s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}

@keyframes fish {
	from{
		background-color: pink;
		top: 50px;
	}
	to{
		background-color: green;
		top: 250px;
	}
}